@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--backgroundColor);
  overflow-x: hidden;
  color: var(--fontPrimaryColor);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.link-styles {
  text-decoration: none;
  color: var(--fontPrimaryColor);
}

:root {
  --primaryColor: #4fc0d6;
  --primaryColorDark: #2ca0b8;
  --primaryColorLight: #73bbc9b6;
  --secondaryColor: #f1d4e5;
  --primaryBackgroundColor: #ececec;
  --secondaryBackgroundColor: #dadada;
  --fontPrimaryColor: #2b2a2a;
  --fontSecondaryColor: #616161;
  --navbarBg: white;
  --gradientBackground: -webkit-linear-gradient(
    109.6deg,
    rgba(193, 82, 236, 0.753) 11.2%,
    rgb(243, 111, 140) 100.2%
  );
}
/* [data-theme="dark"] {
  --primaryColor: #73bbc9;
  --primaryColorLight: #73bbc9b6;
  --secondaryColor: #f1d4e5;
  --primaryBackgroundColor: #2c2c2c;
  --secondaryBackgroundColor: #313131;
  --fontPrimaryColor: rgb(243, 243, 243);
  --fontSecondaryColor: rgb(226, 226, 226);
  --navbarBg: trasparent;
  --gradientBackground: -webkit-linear-gradient(
    109.6deg,
    rgb(34, 3, 46) 11.2%,
    rgb(110, 18, 38) 100.2%
  );
} */
